# Prevent accidental commits of secrets
*.key filter=git-crypt diff=git-crypt
*.pem filter=git-crypt diff=git-crypt
*.crt filter=git-crypt diff=git-crypt
*.cert filter=git-crypt diff=git-crypt
*.p12 filter=git-crypt diff=git-crypt
*.pfx filter=git-crypt diff=git-crypt
*id_rsa* filter=git-crypt diff=git-crypt
*id_dsa* filter=git-crypt diff=git-crypt
*id_ed25519* filter=git-crypt diff=git-crypt
*id_ecdsa* filter=git-crypt diff=git-crypt
*.env filter=git-crypt diff=git-crypt
secrets.* filter=git-crypt diff=git-crypt
config/*.json filter=git-crypt diff=git-crypt

# Text files should have LF line endings
* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Binary files should remain binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.zip binary
*.gz binary
*.tar binary
*.dmg binary
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary
*.svg binary
*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
*.ppt binary
*.pptx binary
*.pyc binary
*.pyo binary
*.pyd binary
*.so binary
*.dylib binary
*.dll binary
*.exe binary
*.o binary
*.obj binary
*.a binary
*.lib binary
*.dll binary
*.dylib binary
*.so binary
*.class binary
*.jar binary
*.war binary
*.ear binary
*.zip binary
*.tar.gz binary
*.tgz binary
*.rar binary
*.7z binary
*.bz2 binary
*.xz binary
*.iso binary
*.img binary
*.dmg binary
*.pkg binary
*.app binary
*.msi binary
*.msm binary
*.msp binary
*.msix* binary
*.appx* binary
*.snupkg binary
*.nupkg binary
*.deb binary
*.rpm binary
*.apk binary
*.ipa binary
*.aab binary
*.aac binary
*.mp3 binary
*.wav binary
*.flac binary
*.ogg binary
*.m4a binary
*.m4p binary
*.wma binary
*.wmv binary
*.mpg binary
*.mpeg binary
*.m4v binary
*.avi binary
*.mov binary
*.wmv binary
*.flv binary
*.swf binary
*.3gp binary
*.3g2 binary
*.mkv binary
*.webm binary
*.vob binary
*.ogv binary
*.m2v binary
*.mp4 binary
*.m4v binary
*.mp4v binary
*.3gpp binary
*.3gpp2 binary
*.f4v binary
*.f4p binary
*.f4a binary
*.f4b binary
*.m4b binary
*.m4p binary
*.m4v binary
*.m4r binary
*.m4a binary
*.m4b binary
*.m4p binary
*.m4r binary
*.m4v binary
*.3gp binary
*.3gpp binary
*.3g2 binary
*.3gpp2 binary
*.oga binary
*.ogx binary
*.ogv binary
*.ogm binary
*.spx binary
*.opus binary
*.weba binary
*.webm binary
*.webp binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.otf binary
*.svgz binary
*.svg binary
*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
*.ppt binary
*.pptx binary
*.odt binary
*.ods binary
*.odp binary
*.odg binary
*.odc binary
*.odf binary
*.odb binary
*.sxw binary
*.sxc binary
*.sxi binary
*.sxd binary
*.sxm binary
*.sxg binary
*.sda binary
*.sdc binary
*.sdd binary
*.sdp binary
*.sds binary
*.sdw binary
*.sgl binary
*.smf binary
*.sxc binary
*.sxd binary
*.sxg binary
*.sxi binary
*.sxm binary
*.sxw binary
*.sxc binary
*.sxd binary
*.sxg binary
*.sxi binary
*.sxm binary
*.sxw binary
*.stc binary
*.std binary
*.sti binary
*.stw binary
*.sxc binary
*.sxd binary
*.sxg binary
*.sxi binary
*.sxm binary
*.sxw binary
*.otc binary
*.otf binary
*.otg binary
*.oth binary
*.ots binary
*.ott binary
*.odc binary
*.odf binary
*.odg binary
*.odi binary
*.odm binary
*.odp binary
*.ods binary
*.odt binary
*.oxt binary
*.otc binary
*.otf binary
*.otg binary
*.oth binary
*.ots binary
*.ott binary
*.odc binary
*.odf binary
*.odg binary
*.odi binary
*.odm binary
*.odp binary
*.ods binary
*.odt binary
*.oxt binary
